.review-form {
  margin-block-start: $ui-step * 9;
}

.form {
  margin-block-start: $ui-step * 6;

  > div {
    display: flex;
    flex-direction: row;
    margin-block-end: $ui-step * 6;
    align-items: flex-end;

    > span {
      font-size: 1.25rem;
      font-weight: 600;
      width: $ui-step * 30;
      padding-bottom: $ui-step;
      flex-shrink: 0;
    }
  }

  @mixin inputs {
    border-radius: $ui-step;
    border: 1px solid $gray-400;
    padding: $ui-step * 2 $ui-step * 4;
    width: 100%;
  }

  input {
    @include inputs;
  }
  textarea {
    @include inputs;
    resize: vertical;
  }

  .clear-form {
    background-color: $white;
    border: none;
    padding: $ui-step * 3 $ui-step * 6;
    font-weight: 600;
    color: #399173;
    border: 1px solid #399173;
    border-radius: $ui-step * 3;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #399173;
      color: $white;
    }
  }

  .counter button {
    cursor: pointer;
    color: $white;
    background-color: #bd8f4a;
    transition: 0.3s;

    &:hover {
      background-color: #d6983c;
    }
  }

  .counter span {
    font-weight: 600;
  }
}
